@media screen and (min-width: 300px) and (max-width: 517px){
    .fh5co-intro-cover a.btn {
    padding: 10px 5px;
    font-size: 12px;
  }
    .fh5co-intro-cover{
        padding: 3em 1em;
    }
}

@media screen and (max-width: 631px){
    .fh5co-cover  {
        min-height: 250px;
    }
     .first-img{
        background-repeat: no-repeat;
        display: block;
        width: 100%;
        height: 250px;
    }
    .fh5co-cover .fh5co-cover-hero {
        min-height: 250px;
        height: 250px;

  }
  .fh5co-cover .fh5co-cover-hero .fh5co-cover-thumb {

    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 250px;
  }
  .fh5co-cover .fh5co-cover-hero .desc-thumb {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background: rgba(0, 0, 0, 0.2);
  }
  .fh5co-cover .fh5co-cover-hero .desc-thumb p {
    color: #fff;
    margin-bottom: 10px;
  }
  .fh5co-cover .fh5co-cover-hero .desc-thumb span {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
 
  }
    
}
@media screen and (max-width: 679px){
    #fh5co-contact-section .contact {
        width: 100%;
        margin: 0;
    }
    .workshops h1{
        text-align: center;
    } 
}
@media screen and (min-width: 518px) and (max-width: 679px){
    .fh5co-intro-cover a.btn {
        padding: 15px 30px;
        font-size: 16px;
      }
     .fh5co-intro-cover{
        /*height: 5em;*/
        padding: 3em 3em;
    }

}
@media screen and (max-width: 380px) {
    #fh5co-section .first-workshop a {
        padding-left: 1em;
    }
    .about-btn a{
        font-size: 10px;
    }
    #fh5co-section .container-fluid .first-workshop {
        margin: 1em 1em 4em;
    }
}
@media screen and (max-width: 480px) {
    #fh5co-section h1{
        padding-left: 0.5em;
        padding-right: 0.5em;
        font-size: 22px;
    }
    #fh5co-section .first-workshop {
        width: 100%;
    }

}
@media screen and (max-width: 346px) {
    #fh5co-section .first-workshop .btn-primary {
        font-size: 10px;
}
}
    
@media screen and (max-width: 912px) {
    #fh5co-section .first-workshop .btn-primary {
        display: block;
}
}
@media screen and (max-width: 768px) {
  .owl-carousel-posts .owl-controls .owl-nav .owl-next {
    right: 0px;
  }
  .owl-theme .owl-controls .owl-nav {
    display: none;
  }
  .owl-carousel-posts .owl-controls .owl-nav .owl-prev {
    left: 0px;
  }
}


/*@media screen and (max-width: 768px) {
  #fh5co-media-section, #fh5co-intro-section, #fh5co-contact-section,
  #fh5co-blog-section, .about-section {
    padding-bottom: 3em;
  }
*/
@media screen and (max-width: 768px) {
    #fh5co-section .heading-section h3{
        margin-top: 3em;
    }
}
@media screen and (max-width: 679px) {

    #fh5co-section .about-btn .btn{
        margin: 0 auto 2em;
    }
   
    #fh5co-product-section h3.all-products{ 
        padding-left: 2em;
    }
    #fh5co-blog-section .pagination{
        padding-right: 1em;
    }


    #footer {
        padding: 20px 0 10px;
    }
    
    #footer .mobile-footer div:not(:nth-last-child(1)){
        display: none;
        
    }
    #footer .mobile-footer div:nth-last-child(1){
        width: 100%;
    }
    
    #footer .fh5co-social-icons i{
        font-size: 3em;      
    }
    .fh5co-social-icons a {
        float: none;
    }
    .fh5co-social-icons i{
        padding-right: 0.2em;
    }

}
@media screen and (max-width: 768px) {
    #fh5co-media-section, #fh5co-intro-section, /*#fh5co-contact-section,*/ #fh5co-blog-section, #fh5co-section, .about-section {
        padding-top: 5px;
    }

    #fh5co-media-section, #fh5co-intro-section, /*#fh5co-contact-section,*/ #fh5co-blog-section, #fh5co-section, .about-section{ 
        margin: 0 auto 1em;
    }
}
@media screen and (max-width: 768px) {
  .about-section img.display-right {
    float: left;
    padding-right: 40px;
    padding-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .contact-info {
    margin-bottom: 4em;
  }
}
@media screen and (max-width: 992px) {
    #fh5co-section .first-workshop {
        margin: 1em 1em 3em;
    }
  #fh5co-blog-section .blog-inner .desc {
    margin-top: 0;
  }
    
  .social {
    text-align: center;
  }
}
@media screen and (min-width: 630px) and (max-width: 992px) {
  .fh5co-cover .fh5co-cover-hero {
    height: 448px;
  }
  .fh5co-cover .fh5co-cover-hero .fh5co-cover-thumb {
    height: 448px;
    width: 100%;
  }
  .fh5co-cover .fh5co-cover-hero .desc-thumb {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 40px;
    background: rgba(0, 0, 0, 0.2);
  }
  .fh5co-cover .fh5co-cover-hero .desc-thumb p {
    color: #fff;
    margin-bottom: 10px;
  }
  .fh5co-cover .fh5co-cover-hero .desc-thumb span {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
      font-weight 
  }*/
    
  .owl-carousel2 .owl-dots {
    display: block !important;
  }

}
@media screen and (max-width: 879px) {
    #fh5co-contact-section .container{
        width: 90%;
        margin: 1em auto;
    }
    #fh5co-contact-section .btn {
        display: block;
    }
}
@media screen and (max-width: 991px) {
    
    #fh5co-header .nav li:not(:nth-child(4)){
        display: none;
    }
    #fh5co-header .main-nav .icon {
        display: inline-block;
        float: right;
        padding-right: 2em;
    }
    /*#fh5co-header .nav li {
      margin-left: 0;
      padding-right: 0px;
    }*/
    .box-wrap{
        width: 100%;
    }
}
    
@media screen and (max-width: 991px) {
  .main-nav.mob li{
    display: block !important;
    position: relative;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    margin-left: 5px;
  }
  .main-nav.mob a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

}
/*@media screen and (min-width: 480px) and (max-width: 991px) {
    #fh5co-section .first-workshop {
        height: 600px;
    }
}*/
@media screen and (max-width: 991px) {
    #fh5co-section .first-workshop .desc{
        margin-bottom: 1em;
    }
    #fh5co-section .first-workshop img{
        width: 150%;
    }
    .fh5co-inner .holder-section {
        height: 150px;
    }
    .fh5co-inner .fh5co-services {
        margin-left: auto;
        margin-right: auto;
}
    #fh5co-blog-section .blog-inner {
      margin-bottom: 2em;
      margin-top: 0.5em;
    }
}
@media screen and (max-width: 1023px) {
    .box-wrap{
        width: 101%;
    }
}
@media screen and (max-width: 1199px) {
  #fh5co-header .nav li{
    margin-left: 10px;
  }
}

/*@media screen and (max-width: 992px) {
  #fh5co-header .fh5co-navbar-brand {
    text-align: center;
    margin-bottom: 40px;
  }
}*/
/*@media screen and (max-width: 768px) {
  #fh5co-header .nav li.active a:before {
    top: 0;
  }
}
@media screen and (max-width: 992px) {
  #fh5co-header .nav li.active a {
    color: #000;
  }
}
@media screen and (max-width: 480px) {
  #fh5co-header .nav li.active a {
    border-bottom: 2px solid transparent;
    color: #fe7748;
  }
}*/
/*@media screen and (max-width: 768px) {
  #fh5co-header .nav li {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  #fh5co-header .nav li a {
    padding: 10px 0;
  }
}*/
